
body {
  margin: 0;
  overflow-x: hidden;
}

img {
  width: 100%;
}

header {
  align-items: center;
  display: grid;
  gap: 0;
  padding: 50px 20px 100px;
  grid-template-columns: 25% auto;
}

.header-wrapper {
  display: grid;
  grid-template-columns: 115px 60px auto;
  gap: 10px;
}

.logo-title {
  margin: auto;
  font-size: 20px;
  color: rgb(233, 68, 3);
}

nav a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  background-color: rgb(233, 105, 45);
}

.main {
  display: flex;
  margin-bottom: 150px;
  position: relative;
}

.hero-img {
  width: 100%;
  height: 600px;
  background-image: url("https://images.unsplash.com/photo-1524178232363-1fb2b075b655?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.headline {
  background-color: rgb(233, 73, 45);
  color: white;
  position: absolute;
  width: 65%;
  padding: 20px 100px 30px 30px;
  box-sizing: border-box;
  bottom: -130px;
  right: 0;
}
.title {
  font-size: 3.5rem;
  font-weight: lighter;
  margin: 0;
  margin-bottom: 5px !important;
}
.content {
  margin: 0;
  font-weight: lighter;
  line-height: 1.5;
  letter-spacing: 1px;
}

.blog {
  padding: 15px 50px 100px 50px;
  box-sizing: border-box;
}

.blog-title {
  font-size: 64px;
  font-weight: lighter;
  margin-top: 0;
}

.blog-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}

.blog-content img {
  height: 250px;
  object-fit: cover;
}
.blog-content {
  box-sizing: border-box;
  background-color: #645b94;
}
.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
}
.second {
  grid-row: 1 / span 2;
  grid-column: 3 / 3;
  height: 850px;
}
.last {
  grid-column: 1 / span 2;
}
.wrapper button {
  margin-top: 15px;
  width: 125px;
  padding: 10px;
  background-color: tomato;
  border: 0;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
}
.wrapper button:hover {
  background-color: rgb(245, 245, 245);
  color: coral;
}
.wrapper h1 {
  margin: 5px 0;
}
.wrapper p {
  margin: 5px;
}

.post {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  background-color: rgb(255, 232, 255);
  padding: 40px 50px 100px 50px;
}

.related-post {
  grid-column: 1 / 4;
  font-size: 64px;
  font-weight: lighter;
  margin-bottom: 10px;
  color: rgb(90, 90, 90);
  margin-top: 0;
}

.post .blog-content {
  background-color: white;
}
.post .wrapper {
  color: black;
}
.post .wrapper h1 {
  color: coral;
  margin-top: 12.5px;
  letter-spacing: 1px;
}
.post .wrapper p {
  line-height: 1.5;
}
.post .wrapper button {
  background-color: white;
  border: 1px solid coral;
  color: black;
  letter-spacing: 1px;
}
.post .wrapper button:hover {
  background-color: coral;
  border: 1px solid black;
  color: white;
}

footer {
  background-color: rgb(255, 95, 80);
  padding: 50px 50px 10px 50px;
  position: relative;
}

.logo {
  width: 100px;
}
.newsletter {
  height: 115%;
  padding: 50px 50px 0 50px;
  background-color: #645b94;
  position: absolute;
  top: -50px;
  right: 50px;
  color: white;
  box-sizing: border-box;
  width: 35%;
}

.newsletter input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 0;
  margin-bottom: 10px;
}
.newsletter h1 {
  margin-bottom: 10px;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: bold;
}
.newsletter p {
  letter-spacing: 1px;
  line-height: 1.5;
}
.newsletter button {
  width: 30%;
  height: 40px;
  background-color: rgb(251, 198, 211);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
.newsletter button:hover {
  background-color: rgb(250, 158, 181);
}
.icons {
  position: absolute;
  bottom: 10px;
  font-size: 24px;
}
.icons i {
  margin-right: 20px;
  cursor: pointer;
}
.icons i:hover {
  color: black;
}

.container {
  width: 50%;
  margin-right: 0;
  display: inline-block;
  box-sizing: border-box;
  color: white;
}

.container h1 {
  margin: 0;
  margin-top: 10px;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 24px;
}

.container p {
  margin-top: 2.5px;
  letter-spacing: 1px;
  line-height: 1.5;
}
.container .main-nav {
  margin-left: 0;
  color: white;
  margin-bottom: 25px;
}
.container .main-nav a:first-child {
  padding-left: 0;
}
.container .main-nav a {
  color: white;
  font-weight: bolder;
}
.container .main-nav a:hover {
  color: rgb(24, 10, 10);
  background-color: inherit;
  font-weight: lighter;
}

@media (max-width: 500px) {
  body {
    width: 100vw;
  }

  header {
    margin: 0 auto;
    width: 120vw;
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
  }
  .header-wrapper {
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  .header-wrapper img {
    width: 50%;
  }
  header nav a {
    padding: 14px 0;
    padding-left: 20px;
  }
  .main {
    width: 125vw;
  }
  .blog {
    padding: 15px 10px 50px 10px;
    width: 100vw;
  }
  .hero-img {
    height: 500px;
  }
  .headline {
    padding: 10px;
    text-align: center;
    bottom: -110px;
  }
  .title {
    font-size: 2.5rem;
  }
  .blog {
    width: 130%;
    padding: 15px 10px;
  }
  .blog-cards {
    display: flex;
    flex-flow: column;
  }
  .second {
    height: auto;
  }
  .post {
    display: flex;
    flex-flow: column;
    width: 130%;
    padding: 15px 10px;
  }
  footer {
    padding: 15px 10px;
    width: 130%;
    display: flex;
    flex-flow: column;
    align-items: center;
    position: relative;
    height: 600px;
  }
  .newsletter {
    height: max-content;
    top: 0;
    right: 0;
    padding: 15px 10px 30px 10px;
    text-align: center;
    position: relative;
    width: 90%;
  }
  .logo {
    position: absolute;
    bottom: 210px;
  }
  .container {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 80%;
  }

  .icons {
    position: static;
  }
  .container .main-nav {
    display: flex;
    margin: 10px 0;
    justify-content: center;
  }
}
